<div class="center">
    <form [formGroup]="tripForm" (submit)="onSubmit(tripForm)">
        <div>
            <label>Name:</label><br>
            <input class="center-input" name="name" formControlName="name">
        </div>
        <div>
            <label>Destination:</label><br>
            <input class="center-input" name="destination" formControlName="destination">
        </div>
        <div>
            <label>Begin of the trip:</label><br>
            <input class="center-input" name="beginDate" formControlName="beginDate">
        </div>
        <div>
            <label>End of the trip:</label><br>
            <input class="center-input" name="endDate" formControlName="endDate">
        </div>
        <div>
            <label>Price:</label><br>
            <input  class="center-input" type="number" name="price" formControlName="price">
        </div>
        <div>
            <label>Capacity:</label><br>
            <input class="center-input" type="number" name="maxCapacity" formControlName="maxCapacity">
        </div>
        <div>
            <label>Description:</label><br>
            <!-- <input name="description" formControlName="description"> -->
            <textarea class="center-input" name="description" cols="25" rows="10" formControlName="description"></textarea>
        </div>
        <div>
            <label>IMG URL:</label><br>
            <input class="center-input" name="imgURL" formControlName="imgURL">
        </div>
        <button class="btn1" type="submit" [disabled]="!tripForm.valid">SUBMIT</button>
    </form>
</div>
